*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #333;
    position: relative;
}
.container{
    background-color: #222;
    width: 80vw;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 5fr 3fr;
}
.image{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}
.image img , canvas{
    max-width: 40vw;
    max-height: 80vh;
}
.upload input{
    display: none;
}
.upload label{
    color: #fff;
    padding: 8px 20px;  
    border: 2px #fff dashed;  
    cursor: pointer;    
}
.upload label:hover{
    background-color: #fff;
    color: #333;
    border: none;
    border-radius:15px ;
    transition: 0.5s;
}
.upload label:hover{
    color: #838181;
}
.filters ul , .filters ul li{
    display: flex;
    flex-direction:column;
    gap: 10px;
    direction: rtl;
}
.filters ul label{
    color: #fff;
}
.filters ul li:last-child{
   flex-direction: row;
   justify-content: space-around;
}
.filters ul li a , span{
    color: #fff;
    padding: 10px 20px;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
}
footer{
    margin-top: 120px;
    margin-left: 580px;
    color: #fff;
}
@media screen and (max-width:650px) {
    .container{
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .image img , canvas{
        max-width: 80vw;
        max-height: 50vh;
    }
    footer{
       width: 100%;
       margin-bottom: 40px;
       position: absolute;
       right: 0;
       
    }
    footer p {
        position: absolute;
        right: 80px;
        margin-bottom: 40px;
    }
   
    
}